@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  margin: 0;
  padding: 0;
}
body, a, #accordion {
  font-family: 'Poppins';
}

.container {
  width: 80%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.box {
  padding: 1.5em;
  margin: .5em 0;
  background: #fff;
  border-radius: 10px;
}

.landing {
  background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
  min-height: 100vh;
}

.landing input[type="text"] {
  padding: .5em 1em;
  font-family: 'Poppins';
  border-radius: 5px;
  border: 1px solid #848484;
}

.landing input[type="submit"] {
  font-family: 'Poppins';
  border: none;
  border-radius: 5px;
  background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
  padding: .6em 2em;
  cursor: pointer;
}

.status {
  border-left: 4px solid #266eff;
  padding: .1em .5em;
  margin: 1em 0;
}

.status:hover {
  background: #e8e8e8;
}

.profile header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
  color: #191919;
  min-height: 100vh;
}

#theme-changer {
  font-family: 'Poppins';
  padding: .6em 1.2em;
  color: white;
  background: #1f63d1;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.theme-secondary.profile header {
  background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
}

.theme-secondary #theme-changer {
  background: #42f450;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: height .5s ease;
}

/* Spin kit */

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
