{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Subscribe to my website</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <h1>Subscribe</h1>
    <p id="info" style="display: none;"></p>
    <form>
      {% csrf_token %}
      <div class="form-group">
        <label for="emailfield">Email address</label>
        <input type="email" class="form-control" id="emailfield" aria-describedby="emailHelp" placeholder="Email" required>
        <div class="validFeedback">
        </div>
        <div class="invalidFeedback">
        </div>
      </div>
      <div class="form-group">
        <label for="passwordfield">Name</label>
        <input type="text" class="form-control" id="namefield" placeholder="Name" required>
      </div>
      <div class="form-group">
        <label for="passwordfield">Password</label>
        <input type="password" class="form-control" id="passwordfield" placeholder="Password" required>
      </div>
      <button class="btn btn-primary" type="submit" id="submitButton" onclick="postSubscription(event)">Subscribe</button>
    </form>

    <section id="subscribers">

    </section>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="{% static 'js/subscription.js' %}" charset="utf-8"></script>
</body>
</html>
