{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <meta name="google-signin-client_id" content="836085326501-hulpvrrhnagkha9fp1hljcj7vvs531v0.apps.googleusercontent.com">
</head>
<body>
  <div class="container">
    <div class="d-flex flex-row justify-content-between">
      <div>
        <h1 name="title">Books</h1>
        <h5>Favorited: <span id="favCount">{{ favCount }}</span></h5>
        <h5>Keyword: <span id="keyword">{{ keyword }}</span></h5>
      </div>
      <div>
        <div class="d-flex flex-row justify-content-between">
          <img src="{{ request.session.imgUrl }}" alt="userimg">
          <p>{{ request.session.name }}</p>
          <p id="googleuserid" style="display: none;">{{ request.session.userid }}</p>
        </div>
        <div>
          <a href="#" onclick="signOut();">Sign out</a>
        </div>
      </div>
    </div>
    <form method="post">
      {% csrf_token %}
      <div class="input-group mb-3">
        <input type="text" id="keywordField" onsubmit="postKeyword(event)" class="form-control" placeholder="Keyword" aria-label="Keyword" aria-describedby="button-addon2" />
        <div class="input-group-append">
          <button onclick="postKeyword(event)" class="btn btn-secondary" id="button-addon2">Search</button>
        </div>
      </div>
    </form>
    <div class="card">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Publisher</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ book.volumeInfo.title }}</td>
            <td>{{ book.volumeInfo.publisher }}</td>
            <td>
              <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" onclick='postFavorite(event, "{{ book.volumeInfo.title }})")'>Add to favourite</button></td>
              </form>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
  <script src="{% static 'js/books.js' %}" charset="utf-8"></script>
</body>
</html>
