{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="836085326501-hulpvrrhnagkha9fp1hljcj7vvs531v0.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="{% static 'js/books.js' %}" charset="utf-8"></script>
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form>{% csrf_token %}</form>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
  </div>
</body>
</html>
