{% load static from staticfiles %}
<html>
  <head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/global-styles.css' %}">
  </head>
  <body class="landing">
    <div class="container">
      <div class="box">
        <h1>Hello, Apa kabar?</h1>
        <form action="" method="post">
          {% csrf_token %}
          <input type="text" id="input" placeholder="Status hari ini" name="status_text">
          <input type="submit" value="Submit">
        </form>
        <a href="{% url 'subscription:index' %}" class="btn btn-success my-3">Subscribe</a>

        {% for e in entries %}
        <div class="status">
          <p>
            <b>{{ e.text }}</b><br>
            <span class="status-time">on {{ e.time }}</span>
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}" charset="utf-8"></script>
  </body>
</html>
