{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profile Page</title>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'css/global-styles.css' %}">
</head>
<body class="profile">
  <section class="loading">
    <h1>Loading page..</h1>
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </section>
  <header style="display: none">
    <div class="box text-center">
      <h1>Hello, my name is Dave</h1>
      <p>Page ini dibuat untuk kepentingan challenge PPW dan tidak ada konten yang penting.</p>
      <button id="theme-changer">Ganti Tema</button>
    </div>
    <section class="container">
      <div class="box">
        <h2>Aktivitas dan Pengalaman</h2>
        <div class="accordion">
          <h3>Belajar</h3>
          <div>
            <p>
              Saya suka belajar.
            </p>
          </div>
          <h3>Bermain Musik</h3>
          <div>
            <p>
              Saya suka bermain piano.
            </p>
          </div>
          <h3>Makan</h3>
          <div>
            <p>
              Saya suka makan.
            </p>
          </div>
        </div>

        <h2>Organisasi dan Kepanitiaan</h2>
        <div class="accordion">
          <h3>PTI BEM FASILKOM 2018</h3>
          <div>
            <p>
              Sebagai staf biro PTI
            </p>
          </div>
          <h3>Coming soon</h3>
          <div>
            <p>
              Belum ada.
            </p>
          </div>
          <h3>Coming soon</h3>
          <div>
            <p>
              Belum ada.
            </p>
          </div>
        </div>
        <h2>Prestasi</h2>
        <div class="accordion">
          <h3>Coming soon</h3>
          <div>
            <p>
              Belum ada.
            </p>
          </div>
          <h3>Coming soon</h3>
          <div>
            <p>
              Belum ada.
            </p>
          </div>
          <h3>Coming soon</h3>
          <div>
            <p>
              Belum ada.
            </p>
          </div>
        </div>
      </div>
    </section>
  </header>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
